---
---

@import url("normalize.css");
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300);

body {
  font-family: helvetica, Verdana, Arial, sans;
  font-size: 14px;
  color: #888;
}

.home {
  font-size: 120%;
}

h1, h2, h3, h4, h5, h6, .double {
  font-family: "Titillium Web", "Hiragino Sans GB", "Hiragino Kaku Gothic", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ ProN", "helvetica", "Arial", sans;
  font-weight: 200;
  color: #444;
}

hr {
  width: 250px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1em auto;
  text-align: center;
  clear: both;
}

a {
  color: #268;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #345;
}

.my-name{
  h1 {
    font-size: 26px;
    margin: 0;
    color: #543;
  }
  h4 {
    position: absolute;
    margin: 0;
    font-size: 13px;
    font-weight: 100;
  }
}

.navbar-nav > .active > a {
  background-color: #eee;
}

p {
  line-height: 1.5;
}

.pagination {
  color: #ccc;
  font-size: 90%;
  text-align: center;
}
span.double {
  float: left;
  font-size: 250%;
  line-height: 1.5em;
}
.post {
  text-align: justify;
  font-family: serif;
  font-size: 120%;
  p {
    line-height: 150%;
  }
  img {
    max-width: 100%;
    padding: 3px;
    border: 4px solid white;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }
  code {
    font-size: 90%;
  }
  h1 {
    font-size: 25px;
  }
  span.date {
    color: #ccc;
    font-family: 'Titillium Web';
    font-weight: 200;
    float: right;
  }
  .post-footer {
    font-size: 80%;
    color: #999;
    display: none;
  }
}

#copyright{
  font-size: 80%;
  color: #aaa;
  line-height: 2em;
}
#copyright a{
  color: #79a;
}

.maplayout {
  .text {
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 10px black;
    padding: 16px;
    z-index: 2;
  }
  .map {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #333!important;
    color: #eee;
  }
  a {
	  color: #CA6;
  }
  .box {
	background: #444;
  	border-color: #000;
  }
  hr {
  	border-bottom: 2px solid #CA6;
  }
  img {
    filter: grayscale(30%);
  }
  h1, h2, h3, h4, h5, h6, .double {
    color: #eee;
  }
  .my-name{
    h1 {
      color: #eee;
    }
  }
}

