---
layout: site
---
<div class="columns">
	<div class="column home">
	  {{ content }}
	</div>
	<div class="column is-one-third">
	  <div class="box"><img alt="[PHOTO]" src="/img/myphoto.jpg"></div>
	</div>
</div>