---
layout: default
---
<div class="container">
	<div class="columns">
    <div class="column my-name">
      <h1><ruby>Leszek<rt>レシェック</rt></ruby>&nbsp;<ruby>Rybicki<rt>リビツキ</rt></ruby></h1>
    </div>
	</div>
 </div>
<hr>

<div class="container">
	{{ content }}
</div>

<hr>
<div class="container">
    <div class="columns">
      <div class="column is-one-third">
          github: <a target="_blank" href="https://github.com/lunardog">lunardog</a><br>
      </div>
      <div class="column is-one-third has-text-centered" id="copyright">
          Copyright &copy; 2021 by Leszek Rybicki.
      </div>
      <div class="column is-one-third">
      </div>
    </div>
</div> <!-- /container -->

